@model Game

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All games</h1>
    
        <div>
            @Html.Label(Model.Title)
            @Html.Label(Model.Author)
            @Html.Label(Model.Description)
        </div>
    
</div>