@model Game

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game info</h1>

    <div class="">
        Title: @Html.Label(Model.Title)<br/>
        Author: @Html.Label(Model.Author)<br/>
        Description: @Html.Label(Model.Description)<br/>
        Date added: @Html.Label(Model.GameAddedDate.ToString("yyyy-MM-dd"))
    </div>
</div>