@model GamesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">All games</h1>

    <div>
        @foreach (var game in Model.Games)
        {
            <a asp-controller="SpecificGame" asp-action="Index" asp-route-id="@game.GameId">@Html.Label(game.Title)</a>
            <br/>
        }
    </div>
</div>